body {
  background: #edf0f5;
}
.pointer {
  cursor: pointer;
}
#home {
  clear: both;
  overflow: hidden;
  margin-top: 100px;
}
#home div.title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}
#home input {
  margin-bottom: 10px;
}
.main {
  margin-top: 70px;
  float: none;
}
div.header {
  font-size: 2em;
  margin: 20px 0;
}
span.profile-details__editicon:before {
  position: relative;
  left: 15px;
  cursor: pointer;
}
form.profile-details__edit input {
  margin-bottom: 10px;
}
.blogs-header__title {
  display: inline-block;
}
a.blogs-list-link {
  color: white;
}
a.blogs-edit,
a.blogs-list {
  float: right;
}
div.blog-save {
  margin-top: 20px;
}
a.blogs-delete {
  cursor: pointer;
  float: right;
}
.blogs-filter {
  float: right;
  font-size: 0.5em;
  padding-top: 12px;
}
.blogs-tags-form {
  width: 80%;
  display: inline-block;
}
.blogs-tags-list {
  margin-top: 10px;
}
.label-as-badge {
  font-size: 1em;
  border-radius: 1em;
  margin-right: 5px;
}
.blogs-tags-remove {
  color: yellow;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.blogs-timestamp {
  margin-top: 5px;
}
