<div class="content">
  <div class="navbar-container" ng-include data-src="'partials/navbar.html'"></div>
  <div class="main col-md-8 center-block">
    <div class="alert alert-danger" role="alert" ng-show="error.show">
      <p ng-repeat="message in error.messages">{{message}}</p>
    </div>
    <div class="alert alert-success" role="alert" ng-show="success.show">
      <p ng-repeat="message in success.messages">{{message}}</p>
    </div>
    <div class="profile-container" ng-if="states.view=='profile'" ng-include="'partials/profile.html'"></div>
    <div class="blog-container" ng-if="states.view=='blog'" ng-include="'partials/blog.html'"></div>
  </div>
</div>
