<nav class="navbar navbar-default navbar-fixed-top" ng-show="$root.globals.currentUser.username">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{$root.globals.currentUser.username}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li toggle-class="open" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="pointer" href="/blog/view">View blogs</a></li>
            <li><a class="pointer" href="/profile">View profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="pointer" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="overlay fullscreen" ng-show="loading">
  <img src="ajax-loader.gif" class="overlay-loader">
</div>
